
body {
    background-image: url(lilypads.png);
}

#bilal {
    background-color: cadetblue;
    color: white;
    text-align: center;
}

h1 {
    color: cadetblue;
    text-align: center;
}

#AboutMe {
    border-bottom: 2px solid gray;
}

footer {
    border: 2px solid black;
    background-color: dimgray;
    border-top: 8px solid cadetblue;
}

img {
    margin-left: 5px;
    margin-top: px;
    margin-bottom: 80px;
    margin-right: 15px;
}

img {
    float: left;
}

#introduction {
    text-align: justify-all;
    font-size: 21px;
}

h2 {
    color: cadetblue;
    font-family:fantasy;
}

h3 {
    color: white;
    font-family:fantasy;
}

.btn-primary {
    background-color: cadetblue;
}


.textimage {
    background-color: cadetblue;
    height: 70px;
    position: absolute;
    width: 260px;
    border: 2px solid black;
    bottom: 0;
    top:200px;
    left:20px;
    text-align: center;

}

h4 {
    text-align: center;
    color: white;
}

.container {
    margin-bottom: 50px;
}
